colorama==0.4.6
eralchemy==1.5.0
greenlet==3.2.2
mysql-connector-python==9.3.0
numpy==2.3.1
pandas==2.3.0
pretty-errors==1.2.25
py4j==0.10.9.9
pyspark==4.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.41
typing_extensions==4.13.2
tzdata==2025.2
